<title>TYS | {{pageTitle()}}</title>
<flexi-grid [data]="data()" [total]="total()" [dataBinding]="true" [loading]="loading()" language="tr"
  (dataStateChange)="dataStateChange($event)" [showCaption]="true" captionTitle="{{captionTitle()}}"
  [customColumns]="columns()" [commandColumnWidth]="commandColumnWidth()" [showIndex]="showIndex()"
  [sort]="sort()"
  [filter]="filter()"
  [pageSize]="pageSize()"
  [showExportExcelBtn]="showExportExcelBtn()"

  >
  <ng-template flexiGridCaptionCommandTemplate>
    @if(commandTemplateRef() !== undefined){
    <ng-container *ngTemplateOutlet="commandTemplateRef()!;"></ng-container>
    }

    @if (addOptions() && checkPermission(addOptions()!.permission)) {
    <flexi-button
      [routerLink]="[this.addOptions()!.url]"
      btnColor="primary"
      btnIcon="add"
      title="Ekle"
      flexiTooltip />
    }

    @if (addModalOptions() && checkPermission(addModalOptions()!.permission)) {
    <flexi-button
      (click)="addModalOptions()?.click()"
      data-bs-toggle="modal"
      btnColor="success"
      btnIcon="add"
      title="Ekle"
      flexiTooltip />
    }

  </ng-template>

  <ng-content />

  @if (showAudit()) {
    @if(showIsActive()){
      <flexi-grid-column field="isActive" title="Aktif Mi?" filterType="boolean" [booleanData]="['Aktif','Pasif']"
        textAlign="center" />
  }
  <flexi-grid-column field="createdAt" title="Oluşturma Tarihi" filterType="date-time" format="dd.MMM.yyyy HH:mm" />
  <flexi-grid-column field="createdFullName" title="Oluşturan" />
  <flexi-grid-column
    field="updatedAt"
    title="Güncelleme Tarihi"
    filterType="date-time"
    format="dd.MMM.yyyy HH:mm" />
  <flexi-grid-column field="updatedFullName" title="Güncelleyen" />
  }
  <ng-template flexiGridColumnCommandTemplate let-item>
    @if(columnCommandTemplateRef() !== undefined){
    <ng-container *ngTemplateOutlet="columnCommandTemplateRef()!; context:{ $implicit: item }">
    </ng-container>
    }

    @if (detailOptions() && checkPermission(detailOptions()!.permission)) {
    <flexi-button
      [routerLink]="[this.detailOptions()!.url, item.id]"
      btnColor="indigo"
      btnIcon="zoom_in"
      btnSize="small"
      title="Detay"
      flexiTooltip />
    }
    @if (editOptions() && checkPermission(editOptions()!.permission)) {
    <flexi-button
      [routerLink]="[this.editOptions()!.url, item.id]"
      btnColor="info"
      btnIcon="edit"
      btnSize="small"
      title="Güncelle"
      flexiTooltip />
    }
    @if (editModalOptions() && checkPermission(editModalOptions()!.permission)) {
    <flexi-button
      (click)="editModalOptions()?.click()"
      data-bs-toggle="modal"
      btnColor="info"
      btnIcon="edit"
      btnSize="small"
      title="Güncelle"
      flexiTooltip />
    }
    @if (deleteOptions() && checkPermission(deleteOptions()!.permission)) {
    <flexi-button
      btnColor="danger"
      btnIcon="delete"
      btnSize="small"
      title="Sil"
      flexiTooltip
      (click)="delete(item.id, item.name)" />
    }
  </ng-template>
</flexi-grid>
