<grid
  #meetingsGrid
  pageTitle="Toplantılar"
  captionTitle="Toplantı Listesi"
  endpoint="/board-decisions/odata/meetings"
  [detailOptions]="{ url: '/meetings/detail', permission: 'meeting:view' }"
  [deleteOptions]="{ url: '/board-decisions/meetings', permission: 'meeting:delete' }"
  [addModalOptions]="{ click: openAddModal, permission: 'meeting:add' }"
  [breadcrumbs]="breadcrumbs()"
>
  <flexi-grid-column field="title" title="Başlık" />

  <flexi-grid-column field="examType" title="Sınav Türü">
    <ng-template flexiGridCellTemplate let-item>
      {{ getExamTypeLabel(item.examType) }}
    </ng-template>
  </flexi-grid-column>

  <flexi-grid-column field="scheduledAt" title="Tarih/Saat" />
  <flexi-grid-column field="description" title="Açıklama" />

  <ng-template #columnCommandTemplate let-item>

    @if (checkPermission('meeting:participants')) {
      <flexi-button
        btnColor="secondary"
        btnSize="small"
        btnIcon="people"
        title="Katılımcılar"
        flexiTooltip
         (click)="openParticipantsModal(item)"
      />
    }

    @if (checkPermission('meeting:edit')) {
      <flexi-button
        btnColor="warning"
        btnSize="small"
        btnIcon="edit"
        title="Düzenle"
        flexiTooltip
        (click)="openEditModal(item)"
      />
    }


  </ng-template>
</grid>

@if (showMeetingModal) {
  <app-add-meeting
    [key]="meetingModalKey"
    [mode]="modalMode()"
    [meeting]="selectedMeeting()"
    (saved)="closeMeetingModal()"
    (closed)="closeMeetingModal()"
  >
  </app-add-meeting>
}

@if (showParticipantsModal) {
  <app-participants-modal
    [key]="participantsModalKey"
    [meetingId]="selectedMeetingId()"
    [meetingTitleInput]="selectedMeetingTitle()"
    (closed)="closeParticipantsModal()"
  >
  </app-participants-modal>
}
